node_modules/*
old/*

sites/*
!sites/wordpress/

sites/wordpress/*
!sites/wordpress/wordpress/

sites/wordpress/vendor/*

sites/wordpress/wordpress/*
!sites/wordpress/wordpress/wp-content/

sites/wordpress/wordpress/wp-content/*
!sites/wordpress/wordpress/wp-content/themes/

sites/wordpress/wordpress/wp-content/themes/twentynineteen/*
sites/wordpress/wordpress/wp-content/themes/twentytwenty/*

sites/wordpress/wordpress/wp-content/themes/*
!sites/wordpress/wordpress/wp-content/themes/twentytwentyone/
